.drawer {
  position: fixed;
  bottom: 0;
  right: 8%;
}

.drawer,
.drawer > * {
  transition: transform 0.5s;
}

:is(.drawer.closed, .drawer.forced) {
  transform: translateY(calc(100% - 3rem + 0.2rem));
}

.drawer.opened:not(.forced) {
  transform: translateY(0px);
}

.drawer > button:first-child {
  font-weight: bold;
  padding-bottom: 0.8rem;
  padding-left: 1rem;
  padding-right: 1rem;
  position: relative;
  top: 0.1rem;
}

.drawer.opened:not(.forced) > button:first-child {
  transform: rotate(90deg);
}

:is(.drawer.closed, .drawer.forced) > button:first-child {
  transform: rotate(-90deg);
}

.drawer > button:first-child:disabled {
  pointer-events: none;
  filter: brightness(0.6);
}

.drawer > div {
  padding: 1rem;
  background-color: var(--accent-color);
  border-radius: 0.2rem;
}

.drawer > div > :last-child {
  margin-left: 0.5rem;
}
